*{
  margin: 0;
}
main, footer {
  width: 60%;
  margin: auto;
  background-color: antiquewhite;
  padding: 0 30px;
}

.header {
  height: 150px;
  background-image: url(../img/pattern.png);
  background-color: rgb(78, 160, 255)
}

.header img {
  width: 250px;
  padding: 75px 25px;
}

/*Finish header style*/

/*Start title style*/

.title h1 {
  font-size: 70px;
}

.title p {
  color:gray;
  font-weight: 800;
}

.title p span  {
  color: rgb(27, 167, 228);
}

.photo {
  padding-top: 20px;
}

.photo p {
 font-size: 12px;
}

/*Fisish title style*/

/* Start article style */

article {
  padding-top: 25px;
  font-size: 18px;
}
.highlighter {
  background-color: yellow;
}

/*Start Table style */

table {
  width: 100%;
  text-align: left;
}

thead {
  background-color: rgb(32, 169, 229);
  color: white;
  font-weight: 800;
}

td {
  text-align: justify;
  padding: 0px 5px;
}

.cell-one, .cell-two {
  width: 20%;
}

.cell-three {
  width: 60%;
}

.row-one, .row-three {
  background-color: rgb(177, 229, 242);
}

/*Finish Table style */

/*Start Footer style*/



footer div span {
  color: lightslategray;
  font-size: large;
  font-weight: bolder;
}
footer img {
  padding: 10px 10px;
}

/*Finish Footer style*/
